<div *ngIf="roomAccessError" class="alert alert-danger">
  {{ roomAccessError }}
</div>
<div class="container text-center">
    <div class="row">
      <div class="col p-0 d-flex align-items-center justify-content-center border-end border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
      <div class="col p-0 d-flex align-items-center justify-content-center border-end border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
      <div class="col p-0 d-flex align-items-center justify-content-center border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
    </div>

    <div class="row">
      <div class="col p-0 d-flex align-items-center justify-content-center border border-start-0 border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
      <div class="col p-0 d-flex align-items-center justify-content-center border border-start-0 border-end-0 border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
      <div class="col p-0 d-flex align-items-center justify-content-center border border-end-0 border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
    </div>

    <div class="row">
      <div class="col p-0 d-flex align-items-center justify-content-center border-end border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
      <div class="col p-0 d-flex align-items-center justify-content-center border-end border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
      <div class="col p-0 d-flex align-items-center justify-content-center border-primary">
        <input type="checkbox" class="w-100 h-100">
      </div>
    </div>
  </div>
  