<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./game.component.css">
  <title>Multiplayer Tic-Tac-Toe</title>
</head>
<body>
  <section>
    <h1>Client1 vs Client2</h1>
    <h2 *ngIf="currentPlayer !== ''">
      {{ currentPlayer === playerSymbol ? 'Your Turn!' : "Opponent's Turn!" }}
    </h2>
    <div id="board">
    <div class="cell" data-index="0" (click)="onCellClick(0)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[0] }}
    </div>
    <div class="cell" data-index="1" (click)="onCellClick(1)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[1] }}
    </div>
    <div class="cell" data-index="2" (click)="onCellClick(2)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[2] }}
    </div>
    <div class="cell" data-index="3" (click)="onCellClick(3)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[3] }}
    </div>
    <div class="cell" data-index="4" (click)="onCellClick(4)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[4] }}
    </div>
    <div class="cell" data-index="5" (click)="onCellClick(5)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[5] }}
    </div>
    <div class="cell" data-index="6" (click)="onCellClick(6)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[6] }}
    </div>
    <div class="cell" data-index="7" (click)="onCellClick(7)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[7] }}
    </div>
    <div class="cell" data-index="8" (click)="onCellClick(8)" [class.disabled]="currentPlayer !== playerSymbol">
      {{ board[8] }}
    </div>
    </div>
  </section>
</body>
</html>
