<div class="d-flex align-items-center" style="min-height: 100lvh;">
<div class="border container-lg w-25 my-3 pt-3 bg-body rounded shadow-sm">
  <div class="d-flex gap-3 flex-column align-items-center justify-content-center">
    <h1 class="title">Tic-Tac-Toe</h1>
  </div>
    <h6 class="border-bottom pb-2 text-success">Players Online</h6>
    <div class="d-flex text-body-secondary pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect></svg>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Rafa Meha</strong>
          <button type="button" class="btn btn-primary rounded-pill w-5 d-flex justify-content-between" id="button">Play Against</button>
        </div>
      </div>
    </div>
    <div class="d-flex text-body-secondary pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff2d00"></rect></svg>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Pedro Cruz</strong>
          <button class="btn btn-primary rounded-pill w-5 d-flex justify-content-between" id="button">Play Against</button>
        </div>
      </div>
    </div>
    <div class="d-flex text-body-secondary pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6100ff"></rect></svg>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Jose Pratas</strong>
          <button class="btn btn-primary rounded-pill w-5 d-flex justify-content-between" id="button">Play Against</button>
        </div>
      </div>
    </div>
  </div>
</div>